@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  border: 0;
  cursor: pointer;
  padding: 20px 25px;
  background: #ff900e;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.section-title{
    font-weight: 700;
font-size: 45px;
color: #131313;
}
.section-text{
    font-weight: 400;
    color: #727272;
}

.hero {
  
  background-color: #ebbf8d1a;
}
.logo{
    font-weight: 700;
font-size: 25px;
}
ul {
  display: flex;
  gap: 15px;
}
ul > li {
  list-style: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
 
}
.hero-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  margin-bottom: 24px;
}
.hero-description {
  color: #727272;
  font-weight: 400;
  text-align: center;
  margin: 33px 0;
}
.hero-banner {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.banner-image img {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;

  

}

/* styles for sectionTow */
.sectionTwo{
    display: flex;
    gap: 73px;
    justify-content: center;
    align-items: center;
    margin-top: 82px;
}
.sectionTwo-photos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.section-text{
    margin-top: 24px;
    margin-bottom: 32px;
}

/* styles for sectionThree */


 .sectionThree{
  display: flex;
  margin-top: 130px;
 }

.box{
  width: 586px;
height: 171px;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
padding: 30px 42px 30px 30px;
 }
 .tenYear-btn{
  font-size: 45px;

 }
.sectionThree-btn{
margin-left: 50%;
margin-top: -50px;



}

/* SectionFour styles */
.sectionFour-boxes{
  display: flex;
  gap: 124px;
}
.sectionFour-box{
  /* text-align: center;
  align-items: center; */
  width: 241.83px;
height: 241.83px;
border: 1px solid #FF900E;
border-radius: 8px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 100px;
margin-bottom: 180px;

}
.sectionFour-text{
  font-weight: 600;
font-size: 20px;
color: #727272;
}

.sectionFive{
  text-align: center;
}
.sponsor-icons{
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.footer{
  text-align: center;
  padding: 39px 0;
  background: #FFF4E7;
border-radius: 8px;
margin-bottom: 216px;
}